<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 수정 페이지</title>
</head>
<body>
<h1>게시물 수정 페이지</h1>

<form method="post" th:object="${postUpdateDto}">
  <label for="content">내용</label><br>
  <textarea id="content" name="content" th:field="*{postContent}" rows="5" cols="40"></textarea><br><br>
  <p th:if="${#fields.hasErrors('postContent')}" th:errors="*{postContent}">유효하지 않은 내용입니다.</p>
  <input type="submit" value="수정하기">
</form>


<!-- 홈으로 돌아가는 링크 -->
<p><a href="/" style="margin-top: 20px;">홈으로 돌아가기</a></p>
</body>
</html>