<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 홈 페이지</title>
</head>
<body>
<h1>게시판 홈 페이지 입니다.</h1>

<!-- 로그인 버튼 -->
<a th:if="${userEmail == null}" href="/auth/login-form" style="margin-right: 10px;">로그인</a><br>
<a th:unless="${userEmail==null}" href="/auth/logout" style="margin-right: 10px;">로그아웃</a><br>
<!-- 회원가입 버튼 -->
<a href="/member/register-form">회원가입</a><br>
<a href="/post/postlist">게시판 보러가기</a><br>
<a href="/post/add">게시판 작성</a>
</body>
</html>
